html {
	background-color: #edeff0;
}
body {
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.6em;
	text-align: center;
}
.question {
	font-family: sans-serif;
	margin-bottom: 35px;
}
li {
	list-style: none;
}

a{
	text-decoration: none;
}

label {
	display: inline-block;
	width: 180px;
	font-family: sans-serif;
}

input[type='text']{
	width: 97%;
	padding: 4px;
	border-radius: 5px;
	border: 1px #ccc solid;
}

input[type='number']{
	width: 50px;
	padding: 4px;
	border-radius: 5px;
	border: 1px #ccc solid;
}

.container {
	width: 60%;
	margin: 0 auto;
	overflow: auto;
}

header {
	border-bottom: 4px #2e6da4 solid;
	background-color: #337ab7;
}

footer {
	border-top: 4px #2e6da4 solid;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 7px;
	background-color: #337ab7;
}

main {
	padding-bottom: 20px;
	background-color: #edeff0;
	height: 526px;

}

form {
	height: 25%;
}
a.start {
	display: inline-block;
	color: #fff;
	background: #337ab7;
	border: 1px solid #2e6da4;
	padding: 6px 13px;
}

.start:hover{
	 color: #fff;
}
.current {
	background: #f4f4f4;
	border: #ccc dotted 1px;
	padding: 10px;
	margin: 20px 0 10px 0;
}
btn hover {
	background-color: #337ab7;
}
body > main > div > form > ul > li:nth-child(1) > button {
	background-color: #337ab7;
	border: 1px #2e6da4;
}

body > main > div > form > ul > li:nth-child(3) > button {
	background-color: #337ab7;
	border: 1px #2e6da4;
}


@media only screen and (max-width: 960px) {
	.container {
		width: 80%;
		height: 80%;
	}
	body > main{
		height:503px;
	}
	body > main > div > form{
		height: 25%;
		width: 25%;
	}

}

@media only screen and (max-width: 500px) {

	body > main > div > form{
		height: 25%;
		width: 25%;
	}
	body > main{
		height:503px;
	}
	body > main > div > form > ul > li:nth-child(1) > button {
		width: 240px;
		margin-left: auto;
		margin-right: auto;
	}
	body > main > div > form > ul > li:nth-child(2) > button {
		width: 240px;
		margin-left: auto;
		margin-right: auto;
	}
